<div class="container-fluid bg-body-tertiary pt-5 pb-4 d-flex">
    <div class="footerC">
        <h6 class="ps-3">Risorse</h6>
        <ul class="list-group">
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Gift Card</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Trova un negozio</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Nike Journal</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Diventa member</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Sconto studenti</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Feedback</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Codici promozionali</a>
            </li>
        </ul>
    </div>

    <div class="footerC">
        <h6 class="ps-3">Assistenza</h6>
        <ul class="list-group">
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Hai bisogno di aiuto?</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Stato ordine</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Spedizione e consegna</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Resi</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Opzioni di pagamento</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Contattaci</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Recensioni</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Assistenza Codici promozionali Nike</a>
            </li>
        </ul>
    </div>

    <div class="footerC">
        <h6 class="ps-3">Azienda</h6>
        <ul class="list-group">
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Informazioni su Nike</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">News</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Lavora con noi</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Investitori</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Sostenibilità</a>
            </li>
            <li class="list-group-item bg-transparent border border-0">
                <a class="text-decoration-none text-secondary" href="">Obiettivo</a>
            </li>
        </ul>
    </div>

    <div class="d-flex pe-3">
        <img class="me-2" src="/assets/globe.png" width="25" height="25" alt="">
        <a class="text-decoration-none text-secondary" href="">Italia</a>
    </div>
    
</div>

<div class="container-fluid bg-body-tertiary d-flex p-4 pb-5 justify-content-between">
    <div>
        <a class="text-decoration-none text-secondary" href="">© 2024 Nike, Inc. Tutti i diritti riservati</a>
    </div>
    <div class="dropup-center dropup">
        <a class="dropdown text-decoration-none text-secondary" href="#" role="button" aria-expanded="false">
            Guide
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item text-secondary" href="#">Nike Air</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Air Max</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike FlyEasy</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Flyknit</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Flyleather</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Free</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Pegasus</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike React</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Vaporfly</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Zoom Fly</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike ZoomX</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Articoli per tifosi NBA</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Factory Store</a></li>
            <li><a class="dropdown-item text-secondary" href="#">Nike Airtopia</a></li>
        </ul>
    </div>

    <div>
        <a class="text-decoration-none text-secondary" href="">Condizioni d'uso</a>
    </div>

    <div>
        <a class="text-decoration-none text-secondary" href="">Condizioni di vendita</a>
    </div>

    <div>
        <a class="text-decoration-none text-secondary" href="">Info Legali e Societarie</a>
    </div>

    <div>
        <a class="text-decoration-none text-secondary" href="">Informativa sulla privacy e sui cookie</a>
    </div>

    <div>
        <a class="text-decoration-none text-secondary" href="">Impostazioni sulla Privacy e sui Cookie</a>
    </div>

</div>