<div class="container-fluid d-flex justify-content-center align-items-center">
    <div style="position: relative;">
        <img class="img-fluid" src="/assets/thank-you.gif" alt="">

        <div class="d-flex flex-column mb-3 justify-content-center align-items-center" 
             style="position: absolute; top: 8%; left: 50%; transform: translateX(-50%);">
            <span class="overlay-text p-2"><h4>Grazie per il tuo acquisto</h4></span>
            <span class="overlay-text p-2"><p>Numero ordine: 9900012A0</p></span>
        </div>
    </div>
</div>